img {
    max-width:100%;
}

body {
    margin:0;
 background-image: url("txt_collage_website.jpg");

}

.container {
    background-image: url("jiung_background.png");
    background-repeat: no-repeat;
    height:auto;
     display:flex;
    flex-direction:column;
    padding:3px;
    align-items: center;
    height:100vh;
    overflow: wrap;
    justify-content: center;
    

}

.video{
    
  border:5px solid;
    border-color:rgb(255, 255, 255);
  color:pink;
 box-shadow: 5px 5px 5px 5px rgb(50, 55, 118);
}

.starbtn{
    width:100px;
    height: 100px;
    position:relative;
    top:600px;
    left:-400px;
}
.star{
   width:100px;
    height: 100px;
    position:relative;
    top:50px;
    left:400px; 
}